@import "plugin/gitbook-plugin-theme-gestalt/src/scss/_variables.scss";


// Put your variable overrides here
$book-background: white;
$page-background: white;
$sidebar-background: white;
$sidebar-logo-map: (
    background: #5F2580,
    border-bottom: 1px solid $color-border
);
$sidebar-logo-height: 55px;
$color-border: #a5a5a5;

$color-primary: #5F2580;

$heading-map : ( 
                color: $color-primary, 
                border-bottom: 1px solid $color-primary,
                font-family: $font-family-sans
                );

@import "plugin/gitbook-plugin-theme-gestalt/src/scss/_all.scss";